
/*/////////////////////////////////////////////
/////////Ligacao Externa da Fonte Lato/////////
/////////////////////////////////////////////*/
@import url('https://fonts.googleapis.com/css2?family=Lato');

/*/////////////////////////////////////
//////Palhetas de Cores da Pagina//////
/////////////////////////////////////*/
:root{
    --white: #fff;
    --dark1: #32CD32;
    --dark2: #7cfc00;
    --dark3: #adff2f;
    --dark4: #90ee90;
    --dark5: #9acd32;
    --dark6: #90ee90;
    --dark7: #228b22;
    --dark8: #2e8b57;
    --dark9: #2f4f4f;
    --CarkStateGray: #2f4f4f;
    --DarkGreen: #006400;
    --Green: #008000;
    --ForestGreen: #228b22;
    --LimeGreen: #32cd32;
    --Lime: #00ff00;
    --LawnGreen: #7cfc00;
    --Red: #ff0000;
    --black: #000000;
    --DarkBlue: #00008b;
    --cyan: #00ffff;
    --cyan1: #70e3ea;
    --PowderBlue: #b0e0e6;
    --Beige: #f5f5dc;
    --Cornsilk: #fff8dc;
    --Bisque: #ffe4c4;
    --PeachPuff: #ffdab9;
}

/*/////////////////////////////////
//////////zerando as margens///////
/////////////////////////////////*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", serif;
}

/*///////////////////////////////////////////
//////config estilo das paginas WEB//////////
///////////////////////////////////////////*/
.body-principal{
    background-color: var(--LimeGreen);
    font-size: 'Lato';
}
.body-historico{
    background-color: var(--LimeGreen);
    height: 10vh;
    font-family: 'Lato';
}
.body-projetos{
    background-color: var(--LimeGreen);
    height: 10vh;
    font-family: 'Lato';
}
.body-contas{
    background-color: var(--LimeGreen);
    height: 10vh;
    font-family: 'Lato';
} 
.body-filiacao{
    background-color: var(--LimeGreen);
    height: 10vh;
    font-family: 'Lato';
}
.body-cadastro{
    background-color: var(--LimeGreen);
    height: 10vh;
    font-family: 'Lato';
}

/*///////////////////////////////////
////config estilo dos cabecalhos ////
///////////////////////////////////*/
.header-principal{       
    background-image: url(/imagens/Banner\ ACOP\ 01.2.png);
    justify-content: center;
    background-size: cover;
    margin: auto;
    margin-top: auto;
    max-width: 2000px;
    height: 550px;         
}
.interface{   
    display: flex;
    text-decoration: none;
    margin: auto;
    height: 400px;
    width: 2300px;
    padding: 10px 10px;
    gap: 9px;    
}
header-pg-principal .interface{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
}
header-pg-principal .principal-secao-nav-links{
    display: inline-block;
    margin: 0 10px;
    align-items: center;
    text-decoration: none;   
}

#header-pg-historico{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: .8rem;
    gap: 1rem;
    font-size: 50px;
    min-height: 50px;
    background-color: var(--ForestGreen);   
}
#header-pg-projetos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: .8rem;
    gap: 1rem;
    font-size: 50px;
    min-height: 50px;
    background-color: var(--ForestGreen); 
}
#header-pg-contas{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: .8rem;
    gap: 1rem;
    font-size: 50px;
    min-height: 50px;
    background-color: var(--ForestGreen); 
}
#header-pg-filiacao{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: .8rem;
    gap: 1rem;
    font-size: 50px;
    min-height: 50px;
    background-color: var(--ForestGreen); 
}

/*/////////////////////////////////////////////
////config imagens logo acop dos cabecalhos////
/////////////////////////////////////////////*/  
.box-img-header-historico{
    display: flex;
    height: 100%;
    width: auto;
    height: auto;
    max-width: auto;
    min-width: auto;
}
.img-logo-ACOP-historico{
    display: flex;
    max-width: 195px;
    height: 100%;
}
.box-img-header-projetos{
    display: flex;
    height: 100%;
    width: auto;
    height: auto;
    max-width: 11900px;
    min-width: auto;
}
.img-logo-ACOP-projetos{
    display: flex;
    max-width: 195px;
    height: 100%;
}
.box-img-header-contas{
    display: flex;
    height: 100%;
    width: auto;
    height: auto;
    max-width: 11900px;
    min-width: auto;
}
.img-logo-ACOP-contas{
    display: flex;
    max-width: 195px;
    height: 100%;
}

/*////////////////////////////////////////////////////////////
////conf links historico,projetos,pt-contasdo no cabecalho////
////////////////////////////////////////////////////////////*/
.nav-header-primcipal{/*config de posicionamento dos Links Historico,Projetos,PTContas*/
    display: flex;
    flex-wrap: wrap;  
    justify-content: center;
    align-items: center;
    gap: 2rem;
    font-size: 60px;
    width: 80px; 
    background-color: var(--LimeGreen);    
}
.nav-links{/*conf cor das palavras historico,projetos,ptcontas */
    text-decoration: none;
    color: var(--black);
    width: 26px;
    
}
.nav-links:hover{/*conf efeito de destaque das palavras hisstorico, projetos,ptcontas*/
    color: var(--Red);
    transition: .4s;
    text-decoration: underline;
    
}
.Banner-da-Diretoria{
    height: 16vh;
    background-image: url(/imagens/Chapa\ 01\ 2023.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: auto;
}

/*///////////////////////////////////////////
////conf btn cadastro-header pg principal////
///////////////////////////////////////////*/
.open-modal{/*caixa btn cadastro pg principal*/
    display: flex;   
}
.open-modal{/*conf btn cadastro pg principal*/
    padding: .1rem;
    font-size: 2rem;
    border-radius: 1px;
    border: 1px solid var(--LawnGreen);
    background-color: transparent;
    color: var(--white);
    transition: .4s;
    cursor: pointer;      
}
.open-modal:hover{/*conf efeitos btn cadastro pg principal*/
    background-color: var(--Red);
    border: 3px solid var(--white);
    color: var(--white);    
}

/*////////////////////////////
////config corpo da pagina////
////////////////////////////*/
.main-principal{/*conf corpo da pg principal*/
    display: flex;
    flex-direction: column;     
}

/*///////////////////////////
////config primeira secao////
///////////////////////////*/
.primeira-secao-pg-principal{/*conf da primeira secao*/
    display: flex;
    flex-wrap: wrap;
    justify-content: center;      
    align-items: center;
    min-height: 10px;
    font-size: 10px;
    gap: 6rem; 
}
.div-titulo-primeira-secao{/*conf titulo 01 primeira secao juntos somos mais fortes*/
    display: flex;
    font-size: 1.8rem;   
    letter-spacing: 1px;
    width: 640px;
    color:black;
}

/*///////////////////////
////conf btn filiacao////
///////////////////////*/
.box-btn-acao{
    display: flex;
    gap: 2.1rem;
}
.btn-action{
    display: flex;
    background-color: transparent;
    border: 4px solid var(--white);
    color: var(--white);    
}
.btn-action:hover{
    background-color: var(--Red);
    border: 3px solid var(--Cornsilk);
}
.link-action{
    display: flex;
    text-decoration: none;    
    letter-spacing: 5px;
    margin-left: 100px;   
    width: 190px;   
    padding: .8rem;
    font-size: 7px;
    border-radius: 20px; 
}
:is(button,.link-action){
    display: flex;
    padding: .8rem;
    font-size: 2rem;
    border-radius: 1px;
    border: 8px solid var(--white);
    color: var(--white);
    background-color: var(--Bisque);
    background-color: transparent;
    cursor: pointer;
    transition: .4s; 
}

/*/////////////////////////////////////////////
////conf Banner 01 juntos somos mais fortes////
/////////////////////////////////////////////*/
.box-img-main{
    display: flex;
    flex-wrap: wrap;
    height: auto;
    width: auto;
    max-width: auto ;
    padding: 8px;
}

/*//////////////////////////
////config segunda secao////
//////////////////////////*/
.titulo-diretoria{
    background-color: var(--DarkGreen);
    font-size: 45px;
    
}
.aside-receba-noticia{/*form receba nossas noticias*/
    height: 235px;
    width: 490px;
    margin-top: 40px;
    margin-left: 90px;
    background-color: transparent;    
    background-color: var(--dark1);
}
.titulo-form-segunda-secao{ /*receba nossas noticias*/
    display: flex;
    font-size: 40px;
    width: 450px;
}
.form-receba-noticias-main-principal{
    display: flex;
    justify-content: center;
       
}
.form-noticias{/*corpo do form*/   
    background-color: transparent;
    height: 140px;
    width: 459px; 
    background-position: center;
    background-size: cover;
    
}


.terceira-secao{
    background-color: var(--dark6);
}
.titulo{
    display: flex;
    justify-content: center;
    font-size: 45px;
    background-color: var(--DarkGreen);
}
.terceira-secao ul li{
    display: flex;
    justify-content: center;   
    height: 150px;
    font-family: "Lato", serif;
    font-family: 'Lato';
    font-size: 45px; 
    background-color: var(--LimeGreen);
}
.quarta-secao{
    background-color: var(--dark6);
}
.quarta-secao ul{
    height: 600px;
    padding: 10rem;
    gap: 2rem;
    font-size: 60px;
    flex-wrap: wrap;
    letter-spacing: 4px;
}
.quinta-secao{
    background-color: var(--dark6);
}
.quinta-secao{
    height: 950px;
    padding: 8rem;
    font-size: 20px;
    flex-wrap: wrap;
}
.Imagem-da-planilha{
    display: flex;
    width: 1690px;
    height: 880px;
}

/*/////////////////////////////
////config rodape da pagina////
/////////////////////////////*/
footer{
    display: flex;
    background-color: var(--dark1);
    height:750px;
    padding: 8rem;
    font-size: 40px;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px; 
}

/*////////////////////////
////Aside configuracao////
////////////////////////*/
aside {
    background-color: var(--dark1);
    padding: 20px;
}
/*formulario noticias*/
aside form input{/*configuracao do formulario*/
    display: flex;  
    flex-direction: column;
    width: 450px;
    color: var(--dark9);     
}
/*configura caixas formulario*/
form input{
    display: flex;
    margin-top: 10px;
    border: 5px solid black;
    border-radius: 15px;
    height: 45px;
    padding: 10px;
    font-size: 35px;
    color: var(--dark1);
}
/*muda a cor nas caixas do formulario*/
form input:hover{
    display: flex;
    background-color: var(--dark4);
    color: black;
    cursor: pointer;
}
/*configura botao enviar*/
aside form input[type="submit"]{
    display: flex;
    justify-content: center;
    height: 80px;
    width: 130px;
    background-color: #e00e0e;
    color: white;
    font-weight: bold;
}



